body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fullmain {
    background-image: linear-gradient(#8ecae6, #219ebc, #023047);
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100vh;

}

.fullmain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(to bottom,
            #8ecae6,
            #219ebc,
            #023047);
    transition: transform 3.8s;
    z-index: -1;
}


/*This moves the gradient. Not it's z-index is not specified so is 0. This means it will display before a -1 z-index */
.scroll::before {
    transform: translateY(-50%);
}


.scrollneg::before {
    transform: translateY(-75%);
}


/*p {
    font-size: 100px;
    z-index: 3;
}



.colors {
    color: #8ecae6;
    color: #219ebc;
    color: #023047;
    color: #fb8500;
    color: #ffb703;
}*/